# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env files - SOHA ne töltsd fel GitHub-ra!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
